body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #343a40;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-name-tagline {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.name-tagline {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}

.name-tagline h1 {
    margin: 0;
    font-size: 2em;
    color: #ffffff;
}

.name-tagline p {
    margin: 10px 0;
    font-size: 1em;
    color: #cbcbcb;
}

.nav-links ul {
    display: flex;

    text-transform: capitalize;
    list-style: none;
    /* margin-left: 300px ; */
    padding: 0;
    gap: 20px;
}

.nav-links ul li {
    display: inline;
}

.nav-links ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links ul li a:hover {
    color: rgb(41, 133, 145);
    font-size: 1.1em;
}

.about-section {

    margin: 0 auto;
    background-color: whitesmoke;
    padding: 0 100px;
}

.about-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.about-text {
    flex: 1;
    min-width: 250px;
    margin-right: 20px;

}

.about-text h1 {
    font-size: 2.5rem;
    font-weight: bold;

}

.about-text p {
    font-size: 20px;
    color:  #6b6969;
    width: 700px;
}

.img-photo {
    flex: 0 0 auto;
    max-width: 200px;
    padding: 20px 80px;
}

.img-photo img {
    width: auto;
    height: 280px;
    border-radius: 10px
        /* border-radius: ; */
}

.about-buttons {
    margin: 0px 0;

}

.btn {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;

}

.btn-resume {
    background-color: #4CAF50;
    color: white;
}
.btn-resume:hover {
    background-color: #2c6a2e;
    
}

.btn-github {
    background-color: #333;
    color: white;
}
.btn-github:hover {
    background-color: #5e5e5e;
   
}
.btn a{
        text-decoration: none;
        color: white;
}

.skills-section {
    background-color:  #343a40;
    padding: 50px 100px;
    color: #fff;
    margin-top: 30px;
}

.skill-text h1 {
    color: #fff;
    font-size: 2rem;
}

.skill-box {
    border: 2px solid whitesmoke;
    height: 90px;
    width: 500px;
    border-radius: 10px;
    padding: 10px;
}

.skill-row {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.skill-box .skill-loder {
    width: 96%;
    background-color: #ddd;
    border-radius: 5px;
    /* overflow: hidden; */
    position: relative;
}

.skills {
    text-align: right;
    color: #fff;
    /* font-weight: bold; */
    padding: 10px 0;
    /* border-radius: 5px; */
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    line-height: 0;
    animation: loadSkill 2s ease-in-out forwards;
}

@keyframes loadSkill {
    from {
        width: 0;
    }
    to {
        width: var(--skill-width);
    }
}

.html {
    --skill-width: 90%;
    background-color: #4CAF50;
}

.css {
    --skill-width: 85%;
    background-color: #4CAF50;
}

.javascript {
    --skill-width: 80%;
    background-color: #4CAF50;
}

.python {
    --skill-width: 70%;
    background-color: #4CAF50;
}
.php{
    --skill-width: 65%;
    background-color: #4CAF50;
}
.c{
    --skill-width: 95%;
    background-color: #4CAF50;
}
.projects-section{
    padding: 50px 100px;
    
    
}
.projects-section h2{
    font-size: 2rem;
    
}
.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.project-card {
    background-color: #f1f3f5; /* Light gray background color for project cards */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 300px;  
}
.project-card h3 {
    font-size: 1.5em;
    padding-left: 20px;
    margin: 20px 0 10px;
}

.project-card a{
    text-decoration: none; 
}
.project-card a:hover{
    color: rgb(139, 139, 254);
}


.project-card p {
    padding: 0 20px 20px;
    color: #666; /* Lighter text color for project card description */
}

.project-card:hover {
    transform: translateY(-10px);
}

 .footer-class {
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
}

.information {
    width: 50%;
    padding-bottom: 20px;
}

.footer-title {
    font-size: 1.5rem;
    font-weight: bolder;
}

.footer-text h5 {
    font-size: 12px;
    font-weight: normal;
}

hr {
    width: 100%;
    margin: 0;
}

.social {
    padding: 20px;
}

.icon img {
    height: 30px;
}

.footer-class{
    color: #fff;
    background-color: #343a40;;
}
.message {
    padding: 80px;
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

.message-text {
    text-align: left;

}

.contact {
    width: 100%;
    
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-row input {
    width: 48%;
    padding: 10px;
    
}
input[type=text]{
    border: 2px solid white;
    /* border-bottom: 2px solid rgb(77, 82, 141); */
}
textarea{
    border: 2px solid white;
    /* border-bottom: 2px solid gray; */
}

.contact-address,
.comments {
    margin-top: 20px;
}

.contact-address textarea,
.comments textarea {
    width: 100%;
    height: 80px;
    resize: none;
    padding: 10px 0 0 10px;
    
}

.form-btn {
    margin-top: 10px;
    background-color: rgb(56, 56, 160);
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 8px;
    font-weight: bold;
    text-align: center;
}
.form-btn:hover{
    background-color: rgb(87, 87, 205);
}
.copyright{
    margin: 20px;
    
}
.copyright p{
    text-align: center;
}

 